/* this version is based on my idea */

* {
    box-sizing: border-box;
  }

  body {
    background-color: beige;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* For mobile phones: */
  .row { /* This is where you determine how many columns to use for your narrow version */
    width: 100%;
      float: left;
    padding: 15px;
    display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
  }
  
  @media only screen and (min-width: 768px) { /* now changes to the wide screen version at 768 pixels */
    /* For desktop: */
    .row{float: left;}
    .row{padding: 15px;}
    .row {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 3fr 9fr 3fr;
      gap: 30px;
    }
    .contentimages {
      display: flex;
      flex-direction: column;
      gap: 3%;
    }
  /* i dont know how to use this thing */
  /* .col-1 {width: 8.33%;} */
  /* .col-2 {width: 16.66%;} */
  /* .col-3 {width: 25%;} */
  /* .col-4 {width: 33.33%;} */
  /* .col-5 {width: 41.66%;} */
  /* .col-6 {width: 50%;} */ /* its +8.33% each column width */
  /* .col-7 {width: 58.33%;} */
  /* .col-8 {width: 66.66%;} */
  /* .col-9 {width: 75%;} */
  /* .col-10 {width: 83.33%;} */
  /* .col-11 {width: 91.66%;}   */
  /* .col-12 {width: 100%;} */
  
  }
  
  html {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .header {
    background-color:peru;
    color:  black;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color:tan;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }

  .contact {
    text-align: center;
  }
  footer {
    text-align: center;
  }